{% extends 'base.html' %}

{% block content %}
    {% load cart %}

    <!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                            data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav nav_1">
                        <li><a href="{% url 'index' %}">All Products</a></li>
                        {% for category in category_list %}
                            <li><a href="?category={{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="w3l_banner_nav_right">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3l_banner_nav_right_banner">
                                <div class="more">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner1">
                                <div class="more">
                                    <a href=""></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner2">

                                <div class="more">
                                    <a href=""></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            <script type="text/javascript">
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
            <!-- //flexSlider -->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- banner -->

    <!-- Products -->
    <div class="top-brands" id="store">
        <div class="container">
            <h3>Store</h3>
            <div class="agile_top_brands_grids">

                {% if product_list %}

                    {% for product in product_list %}

                        <div class="col-md-3 mx-auto mb-3 top_brand_left" id="{{ product.id }}">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid">

                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <img title=" " alt=" " src="{{ product.image.url }}"/>
                                                    <p>{{ product.name }}
                                                        <span><small> ({{ product.weight }}) </small> </span></p>
                                                    <h4><small> <b>৳</b> </small> {{ product.price }} </h4>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details">


                                                    {% if product|is_in_cart:request.session.cart %}
                                                        <div class="row no-gutters"
                                                             style="background-color: whitesmoke">
                                                            <form action="/#{{ product.id }}" class="col-2"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <input hidden type="text" name="product"
                                                                       value="{{ product.id }}">
                                                                <input hidden type="text" name="remove"
                                                                       value="True">
                                                                <input type="submit" value=" - "
                                                                       class="btn btn-block btn-secondary">
                                                            </form>
                                                            <div class="text-center col">
                                                                {{ product|cart_quantity:request.session.cart }} in cart
                                                            </div>
                                                            <form action="/#{{ product.id }}" class="col-2"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <input hidden type="text" name="product"
                                                                       value="{{ product.id }}">
                                                                <input type="submit" value=" + "
                                                                       class="btn btn-block btn-secondary">
                                                            </form>
                                                        </div>


                                                    {% else %}
                                                        <form action="/" method="post">
                                                            {% csrf_token %}
                                                            <fieldset>
                                                                <input hidden type="text" name="product"
                                                                       value="{{ product.id }}">
                                                                <input type="submit" name="submit" value="Add to cart"
                                                                       class="button"/>
                                                            </fieldset>
                                                        </form>


                                                    {% endif %}


                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>

                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <h3>No Product Available</h3>
                {% endif %}

            </div>
        </div>
    </div>
    <!-- //Products -->

{% endblock %}