{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                            data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav nav_1">
                        <li><a href="{% url 'index' %}">All Products</a></li>
                        {% for category in category_list %}
                            <li><a href="?category={{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="w3l_banner_nav_right">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3l_banner_nav_right_banner">
                                <h3>Make your <span>food</span> with Spicy.</h3>
                                <div class="more">
                                    <a href="products.html" class="button--saqui button--round-l button--text-thick"
                                       data-text="Shop now">Shop now</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner1">
                                <h3>Make your <span>food</span> with Spicy.</h3>
                                <div class="more">
                                    <a href="products.html" class="button--saqui button--round-l button--text-thick"
                                       data-text="Shop now">Shop now</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner2">
                                <h3>upto <i>50%</i> off.</h3>
                                <div class="more">
                                    <a href="products.html" class="button--saqui button--round-l button--text-thick"
                                       data-text="Shop now">Shop now</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            <script type="text/javascript">
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
            <!-- //flexSlider -->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- banner -->

    <!-- Products -->
    <div class="top-brands">
        <div class="container">
            <h3>Store</h3>
            <div class="agile_top_brands_grids">

                {% if product_list %}

                    {% for product in product_list %}

                        <div class="col-md-3 top_brand_left">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid">

                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <a href="single.html"><img title=" " alt=" "
                                                                               src="{{ product.image.url }}"/></a>
                                                    <p>{{ product.name }}
                                                        <span><small> ({{ product.weight }}) </small> </span></p>
                                                    <h4><small> <b>৳</b> </small> {{ product.price }} </h4>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details">
                                                    <form action="#" method="post">
                                                        <fieldset>
                                                            <input type="hidden" name="cmd" value="_cart"/>
                                                            <input type="hidden" name="add" value="1"/>
                                                            <input type="hidden" name="business" value=" "/>
                                                            <input type="hidden" name="item_name"
                                                                   value="{{ product.name }}"/>
                                                            <input type="hidden" name="amount"
                                                                   value="{{ product.price }}"/>
                                                            <input type="hidden" name="currency_code" value="USD"/>
                                                            <input type="hidden" name="return" value=" "/>
                                                            <input type="hidden" name="cancel_return" value=" "/>
                                                            <input type="submit" name="submit" value="Add to cart"
                                                                   class="button"/>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <h3>No Product Available</h3>
                {% endif %}

            </div>
        </div>
    </div>
    <!-- //Products -->

    <!-- subscribe -->
<div class="newsletter">
    <div class="container">
        <div class="w3agile_newsletter_left">
            <h3>Subscribe & get 10% discount coupon</h3>
        </div>
        <div class="w3agile_newsletter_right">
            <form action="#" method="post">
                {% csrf_token %}
                <input type="email" name="Email" value="Email" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="subscribe now">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //subscribe -->

{% endblock %}