{% extends 'base.html' %}

{% block content %}

    <!-- products-breadcrumb -->
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="../pages/index.html">Home</a><span>|</span>
                </li>
                <li>Login</li>
            </ul>
        </div>
    </div>
    <!-- //products-breadcrumb -->

    <div class="banner">
        <div class="w3l_banner_nav_right_banner3_btm-1">
            <!-- login -->
            <div class="w3_login">
                <h3>Login</h3>
                <div class="w3_login_module">
                    <div class="module form-module">
                        <div class=""><i class="login"></i>
                        </div>
                        <div class="form">
                            <h2>Login to your account</h2>
                            <form action="#" method="post">
                                {% csrf_token %}
                                {% if error %}
                                    <div class="alert alert-danger">
                                        <center><h5> {{ error }} </h5></center>
                                    </div>
                                {% endif %}
                                <input type="text" name="email" placeholder="Enter your email" required="">
                                <input type="password" name="password" placeholder="Password" required="">
                                <input type="submit" value="Login">
                            </form>
                        </div>
                        <div class="cta"><a href="#">Don't have an account?</a></div>
                    </div>
                </div>
            </div>
            <!-- //login -->
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}