{% extends 'base.html' %}

{% block content %}

    <!-- products-breadcrumb -->
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
                <li>Sign Up</li>
            </ul>
        </div>
    </div>
    <!-- //products-breadcrumb -->

    <div class="banner">
        <div class="w3l_banner_nav_right_banner3_btm-1">
            <!-- login -->
            <div class="w3_login">
                <h3>Sign Up</h3>
                <div class="w3_login_module">
                    <div class="module form-module">
                        <div class=""><i class="sign-up"></i>
                        </div>
                        <div class="form">
                            <h2>Create an account</h2>
                            <form action="#" method="post">
                                <input type="text" name="first_name" placeholder="First Name">
                                <input type="text" name="last_name" placeholder="Last Name">
                                <input type="text" name="mobile_number" placeholder="Enter your phone number">
                                <input type="email" name="Email" placeholder="example@mail.com">
                                <input type="text" name="address" placeholder="Enter your home address" required=" ">
                                <input type="password" name="Password" placeholder="Password" required=" ">
                                <input type="submit" value="Register">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //login -->
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}